body {
	margin: 0;
	padding: 0;
	font-family: "proxima-nova", sans-serif;
}

* {
	box-sizing: border-box;
}
.fade-enter {
	opacity: 0;
	z-index: 2;
}
.fade-leave {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}
